*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Cairo",sans-serif;
}

body{
  min-height:100vh;
  background:
    linear-gradient(
      rgba(244,244,244,0.92),
      rgba(244,244,244,0.92)
    ),
    url("hero.jpg") center/cover no-repeat;
  color:#333;
}


.page{
  max-width:420px;
  margin:auto;
  padding:40px 20px 60px;
  text-align:center;
}

h1{
  font-size:32px;
  margin-bottom:10px;
}

h2{
  font-size:22px;
  font-weight:600;
  opacity:0.9;
  margin-bottom:35px;
}

.buttons{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.btn{
  background:#fff;
  color:#000;
  text-decoration:none;
  padding:16px 20px;
  border-radius:999px;
  font-size:18px;
  font-weight:700;
  box-shadow:0 6px 18px rgba(0,0,0,0.25);
  transition:0.25s;
}

.btn:hover{
  transform:translateY(-2px);
  box-shadow:0 10px 24px rgba(0,0,0,0.35);
}

.btn.whatsapp{
  background:#25D366;
  color:#fff;
}
